<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <!-- You can find this in the dashboard-component -->
        <div class="card" style="width:18rem;">
          <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            b5
          </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="row">
    <!-- chart component -->
    <div class="col-lg-9 col-md-12">
        <!-- List group -->
        <div class="list-group" id="myList" role="tablist">
          <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
        </div>
        
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel">...</div>
          <div class="tab-pane" id="profile" role="tabpanel">...</div>
          <div class="tab-pane" id="messages" role="tabpanel">...</div>
          <div class="tab-pane" id="settings" role="tabpanel">...</div>
        </div>
    </div>
    <!-- other chart component -->
    <div class="col-lg-3 col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <h6 class="card-subtitle text-muted">Subtitle</h6>
          </div>
          <img src="holder.js/100x180/" alt="">
          <div class="card-body">
            <p class="card-text">Text</p>
            <a href="#" class="card-link">Link 1</a>
            <a href="#" class="card-link">Link 2</a>
          </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Report and Comments -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-6">
        <!-- You can find this in the dashboard-component -->
    </div>
    <div class="col-lg-6">
        <!-- You can find this in the dashboard-component -->
    </div>
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- Carousel widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Activity widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-6 col-xlg-9">
    </div>
    <div class="col-lg-6 col-xlg-3">
    </div>
</div>


<!--  -->
<div class="row">
    <div class="col-lg-8">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</div>