.counter-numbers {
  font-size: 25px;
}
.fw-normal {
  font-size: 18px;
}
 .mdi-account-multiple , .mdi-cart-plus ,
 .mdi-currency-usd , .mdi-pulse {
  font-size: 20px;
  background: #7460ee1c;
  padding: 8px;
}

.chart-content-bg {
  background-color: #f6f7fb;  
}